/* Define custom font variables outside of @layer */
:root {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --primary-color: #1c1c22; /* Define primary background color */
}

/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply the custom font to the body */
  body {
    @apply font-primary bg-background text-white leading-loose;
    background-color: var(--primary-color);

    /* Use the custom primary background color */
  }
  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}
